@mixin fontLabelAndSwitchStyle($color) {
  font-size: $sub-heading;
  font-weight: 600;
  color: $color;
  letter-spacing: 0.3px;
}

#authContainer {
  .greeting {
    @include place-center(grid);
    background-color: $color-background-light;
    flex: 5;
    h1 {
      font-size: 60px;
      text-align: center;
      color: $color-primary;
      font-family: $font-secondary;
      @include media('tablet') {
        font-size: 50px;
      }
      @include media('phone') {
        font-size: 35px;
      }
    }
    img {
      width: 600px;
      @include media('tablet') {
        width: 500px;
      }
      @include media('phone') {
        width: 350px;
      }
    }
  }

  .form-input-auth {
    @include place-center(grid);
    flex: 4;
    background: $linear-gradient-default;
    .card {
      display: grid;
      gap: $gap-xxl;

      width: 80%;
      max-width: 500px!important;
      padding: $padding-md;

      box-shadow: $shadow-default;
      border-radius: $radius-xxl;

      background-color: white;
      background-repeat: no-repeat;
      background-position: right bottom;
      @import '../components/switch-login-register';
      @import '../components/form-input';
      @import '../components/show-hide-password';
    }
  }
}