form {
  .input-container {
    display: grid;
    position: relative;
    label {
      position: absolute;
      top: 10px;
      left: 10px;
  
      transition: $transition-fast;
  
      font-size: $sub-heading;
      font-weight: 400;
      color: $color-dark;
      letter-spacing: 0.3px;
      &.active {
        top: -8px;
        background-color: white;
        font-size: 14px;
        padding: 0 0.5rem;
      }
    }
    .show-hide-password {
      display: flex;
    }
  }

  input:not(input[type="search"]) {
    background-color: $background-input;
    padding: 0 0.7rem;
    border-radius: $radius-sm;
    &.active {
      border: 1px solid $color-primary;
      background: white;
    }
  }
  
  button[type="submit"] {
    border-radius: $radius-sm;
    background-color: $color-primary;

    font-size: 18px;
    font-weight: 600;
    color: $color-dark;
  }
}