#sidebar {
  display: flex;
  flex-direction: column;
  gap: $gap-xxl;

  position: fixed;
  top: 0;
  z-index: 90;  
  
  // min-height: 100vh;
  height: 100vh;
  width: 300px;

  background: $linear-gradient-default;
  transition: width $transition-fast;

  overflow-y: auto;
  &.minimize {
    width: 90px!important;
    .menu a span {
      display: none;
    }
  }

  h1.brand {
    font-size: 48px;
    color: $color-dark;
    padding: $padding-sm $padding-md;
  }

  .menu {
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      gap: $gap-sm;

      font-size: 20px;
      font-weight: 600;
      color: $color-dark;

      width: 90%;
      padding: $padding-sm $padding-md;

      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;

      transition: background-color $transition-normal;
      &.active, &:hover {
        background-color: white;
        box-shadow: $shadow-default;
      }
    }
  }
}

#minMaxSidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 280px;

  border-radius: $radius-cirlce;
  font-size: 18px;
  box-shadow: $shadow-default;

  transition: transform $transition-fast;
  z-index: 100;
  cursor: pointer;
  &.active {
    transform: rotate(180deg) translateY(22px) translateX(210px);
  }
}