@mixin place-center($display) {
  display: $display;
  @if $display == flex {
    justify-content: center;
    align-items: center;
  }

  @else if $display == grid {
    place-items: center;
  }
}

@mixin card() {
  background-color: white;
  padding: $padding-md;
  box-shadow: $shadow-default;
  border-radius: $radius-lg;
}