$background-input: rgba(#B9A6E0, 0.33);

$color-primary: #B9A6E0;
$color-background-thick: #eac9e2;
$color-background-light: rgba(#eac9e2, 0.6);
$color-dark: #573F4C;

$gap-sm: 5px;
$gap-md: 10px;
$gap-lg: 15px;
$gap-xl: 20px;
$gap-xxl: 25px;

$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;
$padding-xl: 4rem;

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;

$shadow-default: 0px 0px 15px rgba(0, 0, 0, 0.15);
$sub-heading: 18px;

$transition-fast: 200ms;



