#items {
  @import '../../components/button-go-to-add-form';
  @import '../../components/table';
  @import '../../components/data-table';
  @import '../../components/form-input';
  .card-bigest {
    h3 {
      color: $color-dark;
    }
  
    p {
      font-size: 30px;
    }
  
    span {
      font-size: 30px;
      font-weight: bold;
    }
  }
}