@mixin fontLabelAndSwitchStyle($color) {
  font-size: $sub-heading;
  font-weight: 600;
  color: $color;
  letter-spacing: 0.3px;
}

.auth-container {
  display: flex;
  height: 100vh;
  .greeting {
    @include place-center(grid);
    background-color: $color-background-light;
    flex: 3;
    h1 {
      font-size: 72px;
      text-align: center;
      color: $color-primary;
    }
  }

  .form-input-auth {
    @include place-center(grid);
    flex: 2;
    background-color: $color-background-thick;
    .card {
      @include card();
      display: grid;
      gap: $gap-xxl;
      width: 80%;
      background-image: url('../../images/wave-1.png');
      background-repeat: no-repeat;
      background-position: right;
      .switch {
        $radius-half-circle: 30px;

        display: flex;

        background-color: white;
        box-shadow: $shadow-default;
        border-radius: $radius-half-circle;
        button {
          flex: 2;

          border-radius: inherit;
          background-color: white;

          @include fontLabelAndSwitchStyle($color-primary);
          &.active {
            background-color: $color-primary;
            color: $color-dark;
            flex: 3;
          }
        }
      }
      form {
        display: inherit;
        gap: $gap-xl;
        .input-container {
          display: grid;
          position: relative;
          label {
            @include fontLabelAndSwitchStyle($color-dark);
            position: absolute;
            top: 10px;
            left: 10px;
            transition: $transition-fast;

            &.active {
              top: -8px;
              background-color: white;
              font-size: 14px;
              padding: 0 0.5rem;
            }
          }

          input {
            background-color: $background-input;
            padding: 0 0.7rem;
            border-radius: $radius-sm;
            &.active {
              border: 1px solid $color-dark;
              background: white;
            }
          }
        }
      }
    }
  }
}