$background-input: rgba(#B9A6E0, 0.33);
$background-transparent: rgba($color: #000000, $alpha: 0);

$color-primary: #B9A6E0;
$color-thick: #eac9e2;
$color-light: rgba(#eac9e2, 0.6);
$color-background-thick: #eac9e2;
$color-background-light: rgba(#eac9e2, 0.6);
$color-dark: #573F4C;
$color-transparent: rgba($color: #000000, $alpha: 0);
$color-green: #8BDFE2;

$debug: 1px solid red;

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Kulim Park', sans-serif;

$gap-sm: 5px;
$gap-md: 10px;
$gap-lg: 15px;
$gap-xl: 20px;
$gap-xxl: 25px;

$linear-gradient-default: linear-gradient(178.23deg, #F3D7EC 40.94%, #B9A6E0 135.81%);

$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 3rem;
$padding-xl: 4rem;

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;
$radius-xxl: 20px;
$radius-cirlce: 50%;

$sidebar-size-max: 300px;
$sidebar-size-min: 90px;

$shadow-default: 0px 0px 7px rgba(0, 0, 0, 0.05);
$shadow-sm: rgba(0, 0, 0, 0.07) 0px 1px 2px;
$shadow-md: rgba(0, 0, 0, 0.07) 0px 4px 5px;
$shadow-lg-center: 0px 0px 7px rgba(0, 0, 0, 0.15);

$sub-heading: 18px;

$transition-fast: 200ms;
$transition-normal: 400ms;




